[Unit]
Description=Labgrid Coordinator Service
After=network.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/tgamblin/boardgarden/.venv/bin/labgrid-coordinator
Restart=on-failure

[Install]
WantedBy=default.target
