[Unit]
Description=Labgrid K3 Pico-ITX Exporter
After=labgrid-coordinator.service
Requires=labgrid-coordinator.service
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Environment="PYTHONUNBUFFERED=1"
# Should contain LG_COORDINATOR configuration
EnvironmentFile=-/etc/environment
ExecStart=/home/labgrid/boardgarden/boards/.venv/bin/labgrid-exporter -n k3-pico-itx-exporter /home/labgrid/boardgarden/boards/k3-pico-itx/exporter.yaml
Restart=always
RestartSec=30
# Replace 'DynamicUser=yes' with 'User=labgrid' and 'Group=labgrid' when using labgrid helpers with sudo.
#DynamicUser=yes
User=labgrid
Group=labgrid
# Adjust to your distribution (most often "dialout" or "tty")
SupplementaryGroups=dialout plugdev

[Install]
WantedBy=multi-user.target
